@font-face {

    font-family: cocomat;
    src: url(cocomat_light.ttf);
}

#general_display {

    height: 100%;
    background-color: whitesmoke;
    text-align: center;
    font-family: cocomat;
}

#general_display h2 {

    margin: 0px;
    padding: 20px;
    color: red;
    font-weight: 200;
    font-size: 42px;
}