#periodic_display {

    height: 100%;
    width: 100%;
    background-color: black;
}

#periodic_display #background {

    position: absolute;
    width: 100%;
    height: 100%;
    background-size: cover;
    opacity: 0.3;
    background-color: #4384c4;
    z-index: 1;
}

#periodic_display #carousel {

    position: absolute;
    height: 100%;
    width: 100%;
    text-align: center;
    z-index: 2;
}

#periodic_display #car_c {

    display: inline-block;
    width: 25%;
    height: 70%;
    margin-right: 1%;
    margin-left: 1%;
    
    background-color: white;
    border: solid 1px black;
    border-radius: 0px;
    transform: translateY(30%);
}

#periodic_display #car_d, #periodic_display #car_g {

    display: inline-block;
    width: 17.5%;
    height: 49%;
    z-index: 3;
    
    background-color: white;
    border: solid 1px black;
    border-radius: 0px;
    transform: translateY(30%);
}

#periodic_display #c_next, #periodic_display #c_prev {

    cursor: pointer;
    margin: 20px;
}

#periodic_display #car_d, #periodic_display #car_g, #periodic_display #car_c {
    
    transition: height 1s, width 1s;
}

#periodic_display #car_d

